*.exe
*.obj
*.out

.vs
.vscode
.DS_Store

/build/wasm
/build/asmjs
/build/linux*
/build/android*
/build/win32_*
/build/winrt_*
/build/windows_*

/build/projects/vs2017_android/x86
/build/projects/vs2017_android/ARM
/build/projects/vs2017_android/**/ARM
/build/projects/vs2017_android/**/x86